/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    --color:rgb(222, 237, 249);
    --bg:linear-gradient(to right, black, rgb(25, 25, 47), black);
    --w:white;
    --b:black;
    --bl:#150c28;
    --buttonclick:rgb(129, 129, 129);
}
.lightmode{
    --color:rgb(0, 99, 127);
    --bg:linear-gradient(to right, rgb(198, 240, 255), rgb(138, 150, 228), rgb(198, 240, 255));
    --w:rgb(0, 0, 0);
    --b:rgb(235, 246, 247);
    --bl:#66a9cf;
    --buttonclick:rgb(129, 129, 129);
}
body{
    background:var(--bg);
    font-family:Arial, sans-serif;
    color:var(--color);
    overflow-x:hidden;
}
.container{
    width:95%;
    max-width:1400px;
    margin:auto;
    padding:20px;
}
h1{
    text-align:center;
    margin-bottom:20px;
    font-size:3rem;
}
p{
    text-align:center;
    margin-bottom:30px;
    font-size:1.2rem;
}
.main{
    display:flex;
    gap:20px;
    align-items:flex-start;
    margin-bottom:20px;
}
#themeToggle{
    background-color: var(--b);
    color:var(--w);
    border-radius: 5px;
}

#codeInput{
    flex:1;
    min-width:0;
    width:100%;
    height:500px;

    padding:20px;

    font-size:16px;
    font-family:Consolas, monospace;

    border:2px solid var(--w);
    border-radius:12px;

    background:var(--bl);
    color:var(--w);

    resize:none;
    outline:none;
}
#reviewContainer{
    flex:1;
    min-width:0;

    display:flex;
    flex-direction:column;
    gap:15px;
}

.review-box{
    background:var(--bl);
    border-radius:12px;
    padding:15px;
    color:var(--w);
}

.review-box h2{
    margin-bottom:12px;
    color:var(--color);
}

.issues{
    height:180px;
}

#issues{
    max-height:120px;
    overflow-y:auto;
    overflow-x: hidden;
    padding-left:20px;
}

.suggestions{
    height:180px;
}

#suggestions{
    max-height:120px;
    overflow-x: hidden;
    overflow-y:auto;
    padding-left:20px;
}

.optimizedCode{
    height:300px;
    display:flex;
    flex-direction:column;
    margin-bottom: 15px;
}

#optimizedCode{
    flex:1;
    overflow:auto;
    white-space:pre-wrap;
    word-wrap:break-word;
    font-family:Consolas, monospace;
}

button{
    display:block;
    margin:20px auto;

    padding:12px 30px;

    font-size:18px;
    font-weight:bold;

    border:none;
    border-radius:8px;

    cursor:pointer;

    transition:0.3s;
}

#review:hover{
    transform:scale(1.05);
}

#copy:hover{
    background-color:var(--buttonclick);
}
#loader{
    display:none;
    text-align:center;
    margin-top:15px;
    font-size:18px;
}

@media (max-width:900px){

    .main{
        flex-direction:column;
    }

    #codeInput,
    #reviewContainer{
        width:100%;
    }

    #codeInput{
        height:400px;
    }
}

#copy{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-small;
    width:40px;
    height: 25px;

    padding: 8px 15px;
    border: 1px solid var(--w);
    border-radius: 5px;
    background-color: var(--b);
    color:var(--w);
    cursor: pointer;
    margin: 0;
}
.optimizedheader{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
}
.optimizedheader h2{
    margin:0;
}

#copy{
    margin:0;
}