body{
    margin:0;
    background:linear-gradient(to right,rgb(36, 36, 71),rgb(59, 21, 59));
    color:white;
    font-family:Arial, sans-serif;
}
.container{
    width:95%;
    max-width:1400px;
    margin:auto;
    padding:20px;
}
h1{
    text-align:center;
}

p{
    text-align:center;
    margin-bottom:25px;
}

.main{
    display:flex;
    gap:20px;
    margin-bottom:20px;
}

#codeInput{
    flex:1;
    height:500px;
    padding:20px;
    font-size:16px;
    font-family:Consolas, monospace;
    border:none;
    border-radius:10px;
    resize:none;
    outline:none;
    background:#1e1e1e;
    color:white;
}

button{
    display:block;
    margin:auto;
    padding:12px 30px;
    font-size:18px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

#loader{
    display:none;
    text-align:center;
    margin-top:15px;
    font-size:18px;
}

@media(max-width:900px){
    .main{
        flex-direction:column;
    }

    #codeInput{
        width:100%;
    }
}

#reviewContainer{
    flex:1;
    display:flex;
    flex-direction:column;
    gap:15px;
}

/* Common Box Style */
.review-box{
    background:#1e1e1e;
    border:1px solid #333;
    border-radius:10px;
    padding:15px;
}

.review-box h2{
    margin-top:0;
    font-size:18px;
}

/* Score Box */
.score{
    height:70px;
}

/* Issues Box */
.issues{
    height:150px;
    overflow:hidden;
}

#issues{
    height:100px;
    overflow-y:auto;
    margin:0;
    padding-left:20px;
}

/* Suggestions Box */
.suggestions{
    height:150px;
    overflow:hidden;
}

#suggestions{
    height:100px;
    overflow-y:auto;
    margin:0;
    padding-left:20px;
}

/* Optimized Code Box */
.optimizedCode{
    height:300px;
    display:flex;
    flex-direction:column;
}

#optimizedCode{
    flex:1;
    overflow:auto;
    white-space:pre;
    margin:0;
    font-family:Consolas, monospace;
}